body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF;
}

.search-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #218838;
}

 
#videoLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 10px; 
}


video {
    width: 100%;
    max-width: 400px;  
    height: auto;
    margin: 10px;  
}

#videoLinkContainer {
    padding-top: 20px;  
}


#autoFillContainer {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}
#searchBox {
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-container {
    position: sticky;
    top: 0;
    z-index: 1;
}
